{%extends "_base_template.html" %}
{%block titlePage%}
<title>Creation de compte</title>
{%endblock%}
{%block body%}
<div class="MainDiv">
</div>
<form method="POST" enctype="multipart/form-data" style="margin-top: 4%" class="LoginForm">
    <h1 class="pageTitleLogin" style="padding-bottom: 30px;">PAGE DE CREATION DE GROUPES</h1>
    {% csrf_token %}
    <input type="text" name="grpName" placeholder="Nom du groupe" class="inputGroup" style="margin-top: 25px;">
    <select name = "newGuys" multiple>
    {%for user in users%}
        <option value="{{user.username}}" >{{user.username}}</option>
    {%endfor%}
    </select>
    <button type="submit" class="formButton">CREER LE GROUPE</button>
    <a href="groupList">Retour aux groupes</a>
</form>

{%endblock%}