{%extends "_base_template.html" %}
{%block titlePage%}
<title>wishcord</title>
{%endblock%}
{%block body%}
    <div id="activePart">
        <div id="selectionGridMain" style="margin-bottom: 150px;">
            <img id="title" src="../static/images/Logo.png">
            <h1 class="menu_item_title titleMain">BIENVENUE WISHCORD</h1>
        </div>
        <div id="selectionGrid">
            <div class="selectionGridColumn">
                <h2 class="menu_item_title">SE CONNECTER</h2>
                <a href="login">
                    <img  class="menu_item_image" src="../static/images/Wumpus.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
{%endblock%}